{% extends 'base.html' %}
{% load static %}
{% block title %}
saltz1998的廢文
{% endblock %}
{% block titlemessage %}
    <h1><b><center><font color="008800">欸哩的廢文網站</font></center></b></h1>
{% endblock %}
 {% block content %}
 <hr>
<span style="border:0px black solid;font-size:18px;background-color:white;padding:12px">
<img src="{% static "timer.png" %}"width=100><b> &emsp;現在時刻：{{ now }}</b></span>
        <table class="table table-border">
          <tr><th><center>編號</center></th><th>主題</th><th>張貼時間</th></tr>
          {% for post in posts %}
          <tr>
            <td><center>{{ post.id }}</center></td>
            <td>
              <a href="/post/{{post.slug}}/">{{ post.title }}</a>
            </td>
            <td>
              {{ post.pub_date }}
            </td>
          </tr>
          {% endfor %}
        </table>
 <i><p align="right">本網頁被瀏覽了{{ visits }}次</p></i>
{% endblock %}
