{% extends 'base.html' %}
{% block title %}
黑皮幼兒園招生人數統計圖表
{% endblock %}
{% block titlemessage %}
    <h1><b><center><font color="000000">黑皮幼兒園招生人數統計圖表</h1></font></center></b></h1>
{% endblock %}
{% block content %}
<button>
<a href="/kindergarten/">所有分校</a>
</button>
{% for kdgt in kindergartens %}
    <button class="btn btn-sm">
        <a href="/kindergarten/{{kindergarten.id}}/">{{kindergarten.branch_school}}</a>
    </button>
{% endfor %}

<button class = 'btn btn-sm'>
    <a href='/kindergarten/2'>新莊分校</a>
</button>

<select name="選擇分校">
    <option value="">選擇分校</option>
    <option value="新莊分校">新莊分校</option>
    <option value="板橋分校">板橋分校</option>
    <option value="樹林分校">Hamster</option>
</select>

<center>
<table width=800>
  <tr><td>
<canvas id="line-chart" width="800" height="450"></canvas>
</td></tr>
</table>
</center>
<script>
new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: [2015,2016,2017,2018,2019,2020],
    datasets: [{ 
        data: [
        45,36,37,32,25,28
        ],
        label: "樹林分校",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [
        34,39,32,29,30,28
        ],
        label: "板橋分校",
        borderColor: "#8e5ea2",
        fill: false
      }, { 
        data: [
        41,38,30,32,27,26
        ],
        label: "新莊分校",
        borderColor: "#3cba9f",
        fill: false
      }, 
    ]
  },
  options: {
    title: {
      display: true,
      text: '黑皮幼兒園各分校歷年招生人數'
    }
  }
});
</script>
     
{% endblock %}